{{>header}}
<div class="artists">
    <div class="container">
        <div class="artists_inside">
            <div class="artists_header">
                <div class="artists_title">
                    Artist Directory
                </div>
                <div id=header_search>
                    <div class="artists_search_box">
                        <input type="text" id="text" />
                    </div>
                    <button onclick="toggle()" id="artists_header-button">
                        Add artist
                    </button>
                    <div>
                        <button onclick="searchArtist(event)">Search</button>
                    </div>
                </div>
            </div>
            <div id="artists_hidden">
                   <form action="/artist/add" method="POST">
                        <input type="text" id="name" name="name" maxlength="40" placeholder="Artist Name" />
                        <br>
                        <input type="text" id="info" name="info" maxlength="40" placeholder="About Artist"/>
                        <br>
                        <input type="text" id="url" name="url" placeholder="Image URL"/>
                        <br>
                        <button type="submit" id="addArtistB">Add</button>
        </form>
            </div>
            <div id="artists_items">
                {{#each people}}
                        {{log  this}}
                        <div class="artists">
                            <img src='{{this.imageURL}}' />
                            <div>
                                <p><b>{{this.name}}</b></p>
                                <p>{{this.about}}</p>
                            </div>
                        </div>
   
                {{/each}}

                

            </div>
        </div>
    </div>
</div>